.input-field {
  margin: 4rem;
}

.input-form {
  display: flex;
}

.input-container {
  display: flex;
  flex-direction: column;
}

input {
  outline: none;
  border-color: antiquewhite;
}

.add {
  border: none;
  margin-left: 2px;
  border-radius: 5px;
  background-color: antiquewhite;
  cursor: pointer;
}
